html,
body {
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
}

/* == NavBar == */

nav {
  background-color: rgb(248, 247, 240);
  width: 100%;
  margin: auto;
  text-align: center;
}

.navbar-container {
  margin: auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
// .nav-btn {
//   padding: 0.75em 1em;
//   border-radius: 10px;
//   background-color: #8f6637;
//   text-transform: uppercase;
//   color: white;
//   margin: 5px;
//   letter-spacing: 0.11em;
//   position: relative;
//   overflow: hidden;
//   z-index: 1;
// }

$color: #8f6637;
$border-radius: 10px;
.nav-btn {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: $border-radius;
  margin: 5px;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color;
    border-radius: $border-radius;
    z-index: -2;
  }
  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: darken($color, 15%);
    transition: all 0.2s;
    border-radius: $border-radius;
    z-index: -1;
  }
  &:hover {
    color: #fff;
    &:before {
      width: 100%;
    }
  }
}
// .nav-btn:hover {
//   cursor: pointer;
//   background-color: rgba(143, 102, 55, 0.85);
//   transition: 0.2s;
// }

.nav-btn:active {
  background-color: white;
  transition: 0.2s;
}
.nav-logo {
  width: 200px;
  height: auto;
  padding: 1.5em 0;
}

// LifeGoal Card

.lifegoal-card {
  width: 80%;
  margin: 1em auto;
  border: 2px black solid;
  border-radius: $border-radius;
}

.comment-card {
  width: 80%;
  margin: 1em auto;
  border: 2px black solid;
  border-radius: $border-radius;
}

.goal-comment-cont {
  padding: 0.5em;
  border: maroon 1px solid;
  border-radius: $border-radius;
  margin: 0.5em auto;
}

.goal-comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-reply-btn:hover {
  cursor: pointer;
}
